body {
  overflow-x: hidden !important;
  background-image: url("https://ik.imagekit.io/arkapublisher/jurnal/background-fairvalue.png?updatedAt=1701052465127");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 35%;
}

.indexing__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 8px;
  gap: 4px 8px !important;
}
.indexing__container a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.additional_indexing {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.additional_indexing div a {
  display: block !important;
  width: 100% !important;
}
.additional_indexing div a img {
  width: 100% !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.container {
  padding: 0px !important;
}

.additional_content {
  margin-top: 0 !important;
}

.additional_content div p strong img {
  width: 100% !important;
  height: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.navbar-collapse {
  padding: 10px 20px !important;
}

/* Page Structure */
.pkp_structure_content.container {
  padding: 40px 20px !important;
  background-color: #fff !important;
  overflow-x: hidden !important;
}

/* Header Custom */
.pull-md-right .navbar-form.navbar-left .form-group .form-control {
  border-radius: 8px;
}

.navbar {
  margin: 0 auto;
}

.nav.nav-pills {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-top: 4px !important;
}

/* .nav.nav-pills li {
    background-color: red !important;
} */
.site-name {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.site-name a img {
  width: 100% !important;
}

/* Sidebar Custom CSS */
.pkp_block.block_custom {
  border-radius: 8px !important;
  border: none;
  padding: 0 !important;
  overflow: hidden;
}

.pkp_block.block_custom .content {
  padding: 0 !important;
}

.pkp_block.block_custom .content .sidebar__title {
  border-left: 2px solid #FFC700;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 600;
}

.pkp_block.block_custom .content .sidebar__container {
  border-radius: 8px !important;
  border: none;
  box-shadow: 0px 0px 4px 0px #eaeaea;
  border: 1px solid #eaeaea;
  overflow: hidden;
  margin-top: 10px;
  padding: 15px 20px;
}
.pkp_block.block_custom .content .sidebar__container .ojs-logo {
  display: block;
  margin-top: 14px;
}
.pkp_block.block_custom .content .sidebar__container .menu__title {
  font-size: 16px;
  color: #222;
  margin-top: 24px;
  font-weight: 600;
}
.pkp_block.block_custom .content .sidebar__container .indexing__group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 6px;
  margin-top: 10px;
}
.pkp_block.block_custom .content .sidebar__container .submissions__btn {
  border-radius: 8px;
  background-color: #FFC700;
  color: #222;
  font-size: 14px;
  padding: 10px;
  font-weight: 500 !important;
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: none;
}
.pkp_block.block_custom .content .sidebar__container .certificate__group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
.pkp_block.block_custom .content .sidebar__container .certificate__group a {
  border-radius: 8px;
  overflow: hidden;
}
.pkp_block.block_custom .content .sidebar__container .menu__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
.pkp_block.block_custom .content .sidebar__container .menu__group .menu__link {
  display: block;
  width: 100%;
  padding: 8px 14px;
  border-radius: 8px;
  background-color: #FDF8CC;
  color: #222;
  text-decoration: none;
  transition: all 300ms;
  font-size: 14px !important;
  text-align: center;
}
.pkp_block.block_custom .content .sidebar__container .menu__group .menu__link:hover {
  background-color: #FFC700;
}
.pkp_block.block_custom .content .sidebar__container .sponsored__group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 10px;
  margin-top: 14px;
}

.pkp_block.block_web_feed {
  border-radius: 8px !important;
  border: none;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px #eaeaea;
  border: 1px solid #eaeaea;
}

/* Article List Custom Css */
.issue-details .description p {
  text-align: justify !important;
}

.article-summary .article-abstract p {
  text-align: justify !important;
}

.page.page_about > p,
.page.page_about ol > li {
  text-align: justify;
}

.galley-link.btn.btn-primary.pdf {
  background-color: #ec3d3d !important;
  border: none !important;
  border-radius: 4px;
  color: #ffffff;
}

.btn.btn-primary.read-more {
  background-color: #FFC700 !important;
  color: #222;
  border: none !important;
  border-radius: 4px;
  margin-bottom: 50px;
  float: right;
}

.media-list a {
  font-weight: 600 !important;
  color: #BD7100;
}

.media-list .breadcrumb {
  margin-top: 10px !important;
  border-radius: 8px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.issue {
  overflow: hidden;
  border: none !important;
  border-radius: 4px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.issue .panel-heading {
  background-color: #f8d29d;
  color: #9f3a07;
  font-weight: 600;
}

.list-group-item.date-published {
  background-color: #f8d29d;
  color: #9f3a07;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0px 0px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.list-group-item.keywords {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 4px 4px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.how-to-cite {
  border: none !important;
  border-radius: 4px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.how-to-cite .panel-heading {
  background-color: #f8d29d;
  color: #9f3a07;
  font-weight: 600;
  border-radius: 4px 4px 0px 0px;
}

.panel.panel-default.section {
  overflow: hidden;
  border: none !important;
  border-radius: 4px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.section .panel-heading {
  background-color: #f8d29d;
  color: #9f3a07;
  font-weight: 600;
}

.panel.panel-default.copyright {
  overflow: hidden;
  border: none !important;
  border-radius: 4px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

/* Page Submission */
.page.page_submissions .alert.alert-info {
  background-color: #f8d29d;
  color: #9f3a07;
}

/* Navigation */
.cmp_breadcrumbs .breadcrumb li a {
  color: #9f3a07 !important;
}

/* Footer */
footer .container {
  width: 100% !important;
}

footer {
  margin: 0 auto !important;
  background-color: #444 !important;
}

footer .container .row .col-md-10 > center {
  color: #fff !important;
}

footer .container .row .col-md-10 center > a {
  color: #ffd500 !important;
}

footer .container .row .col-md-10 center p > a {
  color: #ffd500 !important;
}

footer .container .row .col-md-2 .img-responsive {
  /* Safari/Chrome */
  filter: invert(100%);
  position: absolute !important;
  width: 100px !important;
}

@media (min-width: 547px) {
  .container,
  footer,
  .navbar {
    width: 90% !important;
  }
}
@media (min-width: 768px) {
  .container,
  footer,
  .navbar {
    width: 85% !important;
  }
}
/* Media Max Width */
@media (max-width: 743px) {
  .nav.navbar-nav {
    padding: 0 25px !important;
  }
  .navbar-form.navbar-left {
    padding: 0 25px !important;
  }
  .container-fluid > .navbar-header {
    padding: 0 25px !important;
  }
  .pkp_structure_page {
    overflow-x: hidden !important;
  }
}
@media (min-width: 1024px) {
  .container,
  footer,
  .navbar {
    width: 85% !important;
  }
  .navbar-form.navbar-left .btn.btn-default {
    position: absolute !important;
    right: 35px;
    border-radius: 0 8px 8px 0 !important;
    background-color: #FFC700 !important;
    color: #222 !important;
    border: none;
    height: 43px !important;
  }
  .navbar-form.navbar-left .form-group .form-control {
    width: 300px !important;
  }
  .additional_content div p strong img {
    width: 100% !important;
  }
}
@media (min-width: 1640px) {
  .container,
  footer,
  .navbar {
    width: 70% !important;
  }
}
@media (min-width: 2040px) {
  .container,
  footer,
  .navbar {
    width: 60% !important;
  }
}
@media (min-width: 2540px) {
  .container,
  footer,
  .navbar {
    width: 50% !important;
  }
}
@media (min-width: 3040px) {
  .container,
  footer,
  .navbar {
    width: 20% !important;
  }
}/*# sourceMappingURL=style.css.map */