@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");

    body {
        font-family: "EB Garamond", serif !important;
        background: url("https://ik.imagekit.io/arkapublisher/jurnal/image%2049%20(1).png?updatedAt=1698052665850");
        background-size: 20%;
        background-repeat: repeat;
        min-height: 100vh !important;
    }

    .pkp_page_index .journals {
        display: none;
    }

    .cmp_form .fields>div {
        padding-bottom: 0 !important;
    }

    .pkp_structure_main {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 30px !important;
        margin-bottom: 100px !important;
        background-color: #fff !important;
        padding: 30px 30px 30px 30px !important;
        border-radius: 8px !important;
        box-shadow: 0px 0px 8px 2px #DDD;
    }

    .pkp_structure_main .page.page_register {
        width: 100% !important;
        padding-top: 10px;
    }

    .pkp_structure_main .page.page_register h1 {
        font-size: 32px !important;
        font-weight: 600 !important;
        text-transform: uppercase;
        color: #A56600 !important;
        font-family: "EB Garamond", serif !important;
    }

    .pkp_structure_main .page.page_register .cmp_breadcrumbs {
        margin-bottom: 30px !important;
    }

    .pkp_structure_main .page.page_register .cmp_breadcrumbs ol {
        padding: 0 !important;
        margin-bottom: 0 !important;
        border-left: 1px solid #A56600 !important;
        padding-left: 10px !important;
    }

    .pkp_structure_main .page.page_register .cmp_breadcrumbs ol li a {
        color: #A56600 !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register {
        max-width: 100% !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .country {
        margin-bottom: 20px !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .country label span {
        font-size: 14px !important;
        font-weight: 600 !important;
        font-style: normal !important;
        margin-bottom: 10px !important;
        color: #444 !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .country label select {
        max-width: 100% !important;
        height: 45px !important;
        border-radius: 8px !important;
        border: 1px solid transparent !important;
        background-color: rgba(209, 160, 80, 0.1254901961);
        outline: none !important;
        font-family: "EB Garamond", serif !important;
        color: #444 !important;
        transition: all 300ms !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .country label select:focus {
        border: 1px solid #A56600 !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .given_name,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .family_name,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .affiliation,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .email,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .username,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .password {
        margin-bottom: 20px !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .given_name label span,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .family_name label span,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .affiliation label span,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .email label span,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .username label span,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .password label span {
        font-size: 14px !important;
        font-weight: 600 !important;
        font-style: normal !important;
        margin-bottom: 10px !important;
        color: #444 !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .given_name label input,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .family_name label input,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .affiliation label input,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .email label input,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .username label input,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .password label input {
        max-width: 100% !important;
        padding: 8px 18px !important;
        border-radius: 8px !important;
        height: auto !important;
        border: 1px solid transparent !important;
        background-color: rgba(209, 160, 80, 0.1254901961);
        outline: none !important;
        font-family: "EB Garamond", serif !important;
        color: #444 !important;
        transition: all 300ms;
    }

    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .given_name label input:focus,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .family_name label input:focus,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .affiliation label input:focus,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .email label input:focus,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .username label input:focus,
    .pkp_structure_main .page.page_register .cmp_form.register fieldset .fields .password label input:focus {
        border: 1px solid #A56600 !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register .buttons {
        margin-top: 30px !important;
        display: flex !important;
        justify-content: end !important;
        gap: 5px !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register .buttons button {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 45px !important;
        padding: 0px 20px !important;
        padding-bottom: 4px !important;
        border-radius: 8px !important;
        background-color: #A56600 !important;
        color: #fff !important;
        border: none !important;
        font-family: "EB Garamond", serif !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        cursor: pointer !important;
        order: 2 !important;
    }

    .pkp_structure_main .page.page_register .cmp_form.register .buttons a {
        width: -moz-fit-content !important;
        width: fit-content !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 45px !important;
        padding: 0px 20px !important;
        padding-bottom: 4px !important;
        border-radius: 8px !important;
        background-color: #fff !important;
        color: #A56600 !important;
        text-decoration: none !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        cursor: pointer !important;
        transition: all 300ms;
    }

    .pkp_structure_main .page.page_register .cmp_form.register .buttons a:hover {
        background-color: #A56600 !important;
        color: #fff !important;
    }

    .pkp_structure_main .page.page_register .reviewer_nocontext_interests {
        margin-bottom: 20px !important;
    }

    .pkp_structure_main .page.page_register .reviewer_nocontext_interests label span {
        font-size: 14px !important;
        font-weight: 600 !important;
        font-style: normal !important;
        margin-bottom: 10px !important;
        color: #444 !important;
    }

    .pkp_structure_main .page.page_register .reviewer_nocontext_interests label input {
        max-width: 100% !important;
        padding: 8px 18px !important;
        border-radius: 8px !important;
        height: auto !important;
        border: 1px solid transparent !important;
        background-color: rgba(209, 160, 80, 0.1254901961);
        outline: none !important;
        font-family: "EB Garamond", serif !important;
        color: #444 !important;
        transition: all 300ms;
    }

    .pkp_structure_main .page.page_register .reviewer_nocontext_interests label input:focus {
        border: 1px solid #A56600 !important;
    }

    .pkp_structure_main .page.page_login {
        width: 100% !important;
        padding-top: 10px !important;
    }

    .pkp_structure_main .page.page_login h1 {
        font-size: 32px !important;
        font-weight: 600 !important;
        text-transform: uppercase;
        color: #A56600 !important;
        font-family: "EB Garamond", serif !important;
    }

    .pkp_structure_main .page.page_login .cmp_breadcrumbs {
        margin-bottom: 30px !important;
    }

    .pkp_structure_main .page.page_login .cmp_breadcrumbs ol {
        padding: 0 !important;
        margin-bottom: 0 !important;
        border-left: 1px solid #A56600 !important;
        padding-left: 10px !important;
    }

    .pkp_structure_main .page.page_login .cmp_breadcrumbs ol li a {
        color: #A56600 !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login {
        max-width: 100% !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .username {
        margin-bottom: 20px !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .username label span {
        font-size: 16px !important;
        font-weight: 600 !important;
        font-style: normal !important;
        margin-bottom: 10px !important;
        color: #444 !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .username label input {
        max-width: 100% !important;
        padding: 10px 20px !important;
        border-radius: 8px !important;
        height: auto !important;
        border: 1px solid transparent !important;
        background-color: rgba(209, 160, 80, 0.1254901961);
        outline: none !important;
        font-family: "EB Garamond", serif !important;
        color: #444 !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .username label input:focus {
        border: 1px solid #A56600 !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .password {
        margin-bottom: 15px !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .password label span {
        font-size: 16px !important;
        font-weight: 600 !important;
        font-style: normal !important;
        margin-bottom: 10px !important;
        color: #444 !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .password label input {
        max-width: 100% !important;
        padding: 10px 20px !important;
        border-radius: 8px !important;
        height: auto !important;
        border: 1px solid transparent !important;
        background-color: rgba(209, 160, 80, 0.1254901961);
        outline: none !important;
        font-family: "EB Garamond", serif !important;
        color: #444 !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .password label input:focus {
        border: 1px solid #A56600 !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .fields .password label a {
        display: block !important;
        float: right !important;
        margin-top: 15px !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .buttons {
        margin-top: 30px !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .buttons button {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 45px !important;
        padding: 0px 20px !important;
        padding-bottom: 4px !important;
        border-radius: 8px !important;
        background-color: #A56600 !important;
        color: #fff !important;
        border: none !important;
        font-family: "EB Garamond", serif !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        cursor: pointer !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .buttons a {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 45px !important;
        padding: 0px 20px !important;
        padding-bottom: 4px !important;
        border-radius: 8px !important;
        background-color: #fff !important;
        color: #A56600 !important;
        text-decoration: none !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        transition: all 300ms;
        cursor: pointer !important;
    }

    .pkp_structure_main .page.page_login .cmp_form.cmp_form.login .buttons a:hover {
        background-color: #A56600 !important;
        color: #fff !important;
    }

    .pkp_structure_main:before,
    .pkp_structure_main:after {
        background: transparent !important;
    }

    .journal__list__container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
        gap: 50px;
        margin-top: 30px;
    }

    .journal__list__container .box__journal {
        border-radius: 8px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
        gap: 0px;
    }

    .journal__list__container .box__journal .journal__cover {
        display: block;
        grid-column: span 1/span 1;
    }

    .journal__list__container .box__journal .journal__cover img {
        width: 100%;
        height: auto;
    }

    .journal__list__container .box__journal .journal__description {
        grid-column: span 3/span 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }

    .journal__list__container .box__journal .journal__description header a {
        font-size: 16px;
        text-decoration: none;
        color: #A56600;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    .journal__list__container .box__journal .journal__description header p {
        text-align: justify;
        font-size: 12px;
        color: #444;
        margin-top: 16px;
        letter-spacing: 0.2px;
        line-height: 1.5 !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        /* number of lines to show */
        line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .journal__list__container .box__journal .journal__description footer {
        display: flex;
        gap: 10px;
        justify-content: end;
        margin-top: 20px;
    }

    .journal__list__container .box__journal .journal__description footer .btn {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff !important;
        background-color: #A56600;
        padding: 8px 18px !important;
        border-radius: 8px;
        text-decoration: none;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 12px;
    }

    @media (min-width: 742px) {
        .journal__list__container {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-template-rows: repeat(1, minmax(0, 1fr));
            gap: 20px;
        }

        .journal__list__container .box__journal {
            padding: 20px;
        }

        .journal__list__container .box__journal .journal__description {
            grid-column: span 2/span 2;
            padding-left: 20px !important;
            margin-top: 0;
        }

        .journal__list__container .box__journal .journal__description footer {
            margin-top: 0;
        }

        .pkp_structure_head {
            background-color: #fff !important;
            height: 120px !important;
            border: none !important;
            box-shadow: 0px 0px 8px 2px #DDD;
            position: fixed !important;
            z-index: 999 !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
        }

        .pkp_head_wrapper {
            padding-top: 0px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            height: 100% !important;
        }

        .pkp_site_nav_menu {
            width: -moz-fit-content !important;
            width: fit-content !important;
            background-color: transparent !important;
        }

        .pkp_site_nav_menu .pkp_navigation_primary_row {
            display: none !important;
        }

        .pkp_site_nav_menu .pkp_navigation_user_wrapper {
            position: static !important;
            top: 0;
            left: 0% !important;
            transform: translateX(0%) !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            text-align: start !important;
            padding-top: 0;
            margin-top: 0;
            width: -moz-fit-content !important;
            width: fit-content !important;
            border-top: none;
            z-index: 1000;
            background-color: transparent !important;
            z-index: 0 !important;
        }

        .pkp_navigation_user.pkp_nav_list {
            width: -moz-fit-content !important;
            width: fit-content !important;
            display: flex !important;
            gap: 10px !important;
        }

        .pkp_navigation_user.pkp_nav_list .profile {
            display: flex !important;
        }

        .pkp_navigation_user.pkp_nav_list .profile a {
            padding: 10px 20px !important;
            background-color: #A56600 !important;
            color: #fff !important;
            font-size: 14px !important;
            border-radius: 8px !important;
        }

        .pkp_navigation_user.pkp_nav_list .profile .task_count {
            position: absolute;
            right: 0 !important;
        }

        .pkp_navigation_user.pkp_nav_list .profile ul {
            width: -moz-fit-content !important;
            width: fit-content !important;
            padding: 20px !important;
            display: flex !important;
            flex-direction: column !important;
            gap: 6px;
        }

        .pkp_navigation_user.pkp_nav_list .profile ul li a {
            white-space: nowrap !important;
            display: block !important;
            width: 100%;
        }

        .pkp_navigation_user.pkp_nav_list .profile ul li a:hover {
            border-left: 0.357rem solid transparent !important;
        }

        .pkp_site_name {
            position: static !important;
            width: -moz-fit-content !important;
            width: fit-content !important;
        }

        .pkp_structure_main {
            margin-top: 140px !important;
        }
    }

    /*# sourceMappingURL=styleSheet.css.map */