@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");
body {
  overflow-x: hidden !important;
  background-image: url("https://ik.imagekit.io/arkapublisher/jurnal/damask-seamless-pattern-background.png?updatedAt=1698734508698");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 25%;
  font-family: "Nunito Sans", sans-serif !important;
  text-align: justify !important;
}

.pkp_structure_content.container {
  box-shadow: 0px 0px 4px 0px #ddd;
}

.navbar.navbar-default {
  box-shadow: 0px 0px 4px 0px #ddd;
}

.pkp_block.block_web_feed {
  box-shadow: 0px 0px 4px 0px #ddd;
}

.pkp_form.login .buttons {
  display: flex !important;
  justify-content: flex-end;
  gap: 20px;
}
.pkp_form.login .buttons button {
  order: 2;
  background-color: #67512D;
  color: #fff;
}
.pkp_form.login .buttons a {
  background-color: #fff;
  color: #67512D;
  transition: all 400ms;
  border: 1px solid #67512D;
}
.pkp_form.login .buttons a:hover {
  background-color: #67512D;
  color: #fff;
}

.pkp_form.register fieldset .fields .form-group {
  width: 100%;
}
.pkp_form.register fieldset .fields .form-group label {
  width: 100%;
}
.pkp_form.register fieldset .fields .form-group label input {
  width: 100%;
}
.pkp_form.register .reviewer .fields .form-group.optin label {
  display: flex !important;
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
}
.pkp_form.register .reviewer .fields .form-group.optin label input {
  width: 14px !important;
  aspect-ratio: 1/1;
}
.pkp_form.register .buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.pkp_form.register .buttons button {
  order: 2;
  background-color: #67512D;
  color: #fff;
}
.pkp_form.register .buttons a {
  background-color: #fff;
  color: #67512D;
  transition: all 400ms;
  border: 1px solid #67512D;
}
.pkp_form.register .buttons a:hover {
  background-color: #67512D;
  color: #fff;
}

.pkp_block.block_make_submission {
  box-shadow: 0px 0px 4px 0px #ddd;
  border: none !important;
  padding: 16px !important;
}
.pkp_block.block_make_submission .pkp_screen_reader {
  margin: 0 !important;
}
.pkp_block.block_make_submission .content {
  padding: 0 !important;
  margin-top: 18px !important;
}
.pkp_block.block_make_submission .content .block_make_submission_link {
  width: 100%;
  display: block;
  background-color: rgba(103, 81, 45, 0.2509803922) !important;
  color: #67512D !important;
  font-weight: 700;
  text-decoration: none;
  transition: all 400ms;
}
.pkp_block.block_make_submission .content .block_make_submission_link:hover {
  background-color: #67512D !important;
  color: #fff !important;
}

.indexing__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 8px;
  gap: 4px 8px !important;
}
.indexing__container a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home_journal-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 20px;
}
.home_journal-container .col-about {
  grid-column: span 3/span 3;
  order: 2;
}
.home_journal-container .col-image {
  grid-column: span 1/span 1;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.container {
  padding: 0px !important;
}

.additional_content {
  margin-top: 0 !important;
}

.additional_content div p strong img {
  width: 100% !important;
  height: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.navbar-collapse {
  padding: 10px 20px !important;
}

/* Page Structure */
.pkp_structure_content.container {
  padding: 40px 20px !important;
  background-color: #fff !important;
  overflow-x: hidden !important;
}

/* Header Custom */
.navbar-form.navbar-left {
  display: none !important;
}

.navbar {
  margin: 0 auto;
}

.nav.nav-pills {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-top: 4px !important;
}

/* .nav.nav-pills li {
    background-color: red !important;
} */
.site-name {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.site-name a img {
  width: 100% !important;
}

/* Sidebar Custom CSS */
.pkp_block.block_custom {
  border-radius: 4px !important;
  border: none;
  box-shadow: 0px 0px 4px 0px #DDD;
  overflow: hidden;
}

.pkp_block h2 {
  margin-top: 14px !important;
  margin-bottom: 0 !important;
  margin-right: 14px;
  margin-left: 14px;
  border-radius: 4px !important;
  font-weight: 700 !important;
  background-color: #67512D !important;
  color: #FFF !important;
  font-size: 16px !important;
  padding: 12px 14px !important;
}

.sidebar__title {
  background-color: #fff !important;
  color: #222 !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 0 !important;
  margin-top: 20px !important;
}

.sidebar__title span {
  border-left: 2px solid #67512D !important;
  padding-left: 6px !important;
  font-weight: 700 !important;
}

.sidebar__link {
  display: block;
  margin-bottom: 5px !important;
  padding: 8px 10px !important;
  border-radius: 6px !important;
  color: #67512D;
  background-color: rgba(103, 81, 45, 0.1882352941);
  text-decoration: none !important;
}

.sidebar__link:hover {
  background-color: #67512D;
  transition: all 500ms;
  color: #fff;
}

.sidebar__link:hover a {
  color: #fff !important;
}

.sidebar__link a {
  color: #333 !important;
}

.pkp_block.block_web_feed {
  border-radius: 8px !important;
  border: none;
  overflow: hidden;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

/* Article List Custom Css */
.issue-details .description p {
  text-align: justify !important;
}

.article-summary .article-abstract p {
  text-align: justify !important;
}

.page.page_about > p, .page.page_about ol > li {
  text-align: justify;
}

.galley-link.btn.btn-primary.pdf {
  background-color: #ec3d3d !important;
  border: none !important;
  border-radius: 4px;
  color: #ffffff;
}

.btn.btn-primary.read-more {
  background-color: #67512D !important;
  border: none !important;
  border-radius: 4px;
  margin-bottom: 50px;
}

.media-list a {
  font-weight: 600 !important;
  color: #67512D;
  text-transform: capitalize;
}

.media-list .breadcrumb {
  margin-top: 10px !important;
  border-radius: 8px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.issue {
  overflow: hidden;
  border: none !important;
  border-radius: 4px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.issue .panel-heading {
  background-color: #f8d29d;
  color: #9f3a07;
  font-weight: 600;
}

.list-group-item.date-published {
  background-color: #f8d29d;
  color: #9f3a07;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0px 0px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.list-group-item.keywords {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 4px 4px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.how-to-cite {
  border: none !important;
  border-radius: 4px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.how-to-cite .panel-heading {
  background-color: #f8d29d;
  color: #9f3a07;
  font-weight: 600;
  border-radius: 4px 4px 0px 0px;
}

.panel.panel-default.section {
  overflow: hidden;
  border: none !important;
  border-radius: 4px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.panel.panel-default.section .panel-heading {
  background-color: #f8d29d;
  color: #9f3a07;
  font-weight: 600;
}

.panel.panel-default.copyright {
  overflow: hidden;
  border: none !important;
  border-radius: 4px;
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

/* Page Submission */
.page.page_submissions .alert.alert-info {
  background-color: #f8d29d;
  color: #9f3a07;
}

/* Navigation */
.cmp_breadcrumbs .breadcrumb li a {
  color: #9f3a07 !important;
}

/* Footer */
footer .container {
  width: 100% !important;
}

footer {
  margin: 0 auto !important;
  background-color: #67512D !important;
}

footer .container .row .col-md-10 > center {
  color: #fff !important;
}

footer .container .row .col-md-10 center > a {
  color: #ffd500 !important;
}

footer .container .row .col-md-10 center p > a {
  color: #ffd500 !important;
}

footer .container .row .col-md-2 .img-responsive { /* Safari/Chrome */
  filter: invert(100%);
  position: absolute !important;
  width: 100px !important;
}

@media (min-width: 547px) {
  .container, footer, .navbar {
    width: 90% !important;
  }
}
@media (min-width: 768px) {
  .container, footer, .navbar {
    width: 85% !important;
  }
  #navigationUser .dropdown {
    margin-top: 5px !important;
  }
  #navigationUser li {
    margin-top: 5px;
  }
  .home_journal-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
  .home_journal-container .col-about {
    grid-column: span 2/span 2;
  }
  .home_journal-container .col-image {
    grid-column: span 1/span 1;
    order: 2 !important;
  }
}
/* Media Max Width */
@media (max-width: 743px) {
  .nav.navbar-nav {
    padding: 0 25px !important;
  }
  .container-fluid > .navbar-header {
    padding: 0 25px !important;
  }
  .pkp_structure_page {
    overflow-x: hidden !important;
  }
}
@media (min-width: 1024px) {
  .container, footer, .navbar {
    width: 85% !important;
  }
  .additional_content div p strong img {
    width: 100% !important;
  }
}
@media (min-width: 1640px) {
  .container, footer, .navbar {
    width: 70% !important;
  }
}
@media (min-width: 2040px) {
  .container, footer, .navbar {
    width: 60% !important;
  }
}
@media (min-width: 2540px) {
  .container, footer, .navbar {
    width: 50% !important;
  }
}
@media (min-width: 3040px) {
  .container, footer, .navbar {
    width: 20% !important;
  }
}/*# sourceMappingURL=styleSheet.css.map */