body {
    overflow-x: hidden !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
body {
    background-image: url('bg.png');
    background-repeat: repeat;
    background-size: 3%;
}
footer {
    margin-top: 0 !important;
}
.pkp_structure_content {
    background-color: #fff;
}
.pkp_structure_content.container{
    padding: 30px 20px !important;
}
.navbar {
    margin-bottom: 0 !important;
}
.container {
    padding: 0px !important;
}

.additional_content {
    margin-top: 0 !important;
}


.additional_content div p strong img {
    width: 50% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.navbar-collapse {
    padding: 15px 20px !important;
}

/* Header Custom */
.pull-md-right .navbar-form.navbar-left .form-group .form-control {
    border-radius: 8px;
}

.nav.nav-pills {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-top: 4px !important;
}

/* .nav.nav-pills li {
    background-color: red !important;
} */


.site-name {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.site-name a img {
    width: 100% !important;
}

/* Sidebar Custom CSS */
.pkp_block.block_custom {
    border-radius: 8px !important;
    border: none;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden;
}

.pkp_block h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: 600 !important;
    background-color: #f8d29d !important;
    color: #9f3a07 !important;
    font-size: 24px !important;
}

.pkp_block.block_custom .content p {
    background-color: #fff !important;
    color: #222 !important;
    border-radius: 0px !important;
    border: none !important;
    padding: 0 !important;
    margin-top: 16px !important;
}

.pkp_block.block_custom .content p span {
    border-left: 2px solid #9f3a07 !important;
    padding-left: 6px !important;
}

.pkp_block.block_custom .content div {
    margin-bottom: 5px !important;
    border: 1px solid #bf6435 !important;
    padding: 6px 10px !important;
}

.pkp_block.block_custom .content div:hover {
    background-color: #9f3a07;
    transition: all 500ms;
}

.pkp_block.block_custom .content div:hover a {
    color: #fff !important;
}

.pkp_block.block_custom .content div a {
    color: #333 !important;
}

#customblock-Issue-Journal {
    padding: 0 !important;
    border: none !important;
}

#customblock-Issue-Journal div {
    border: none !important;
    padding: 0px !important;
    pointer-events: none !important;
}

div#customblock-Issue-Journal:hover {
    background-color: #fff;
}

div#customblock-Issue-Journal:hover a {
    color: #333 !important;
}

#customblock-Issue-Journal div {
    pointer-events: none !important;
}

#customblock-Issue-Journal div:hover a {
    color: #333 !important;
}

#customblock-Issue-Journal div div {
    border: none !important;
    background-color: #fff !important;
    padding: 0px !important;
    margin: none !important;
    pointer-events: none !important;
}

#customblock-Issue-Journal div div:hover a {
    color: #333 !important;
}

#customblock-Issue-Journal div>div>div {
    border: 1px solid #bf6435 !important;
    padding: 6px 10px !important;
    pointer-events: all !important;
}

#customblock-Issue-Journal div>div>div>a {
    pointer-events: all !important;
}

#customblock-Issue-Journal div>div>div:hover {
    background-color: #9f3a07 !important;
}

#customblock-Issue-Journal div>div>div:hover a {
    color: #fff !important;
}

.pkp_block.block_web_feed {
    border-radius: 8px !important;
    border: none;
    overflow: hidden;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Article List Custom Css */
.galley-link.btn.btn-primary.pdf {
    background-color: #ec3d3d !important;
    border: none !important;
    border-radius: 4px;
    color: #ffffff;
}

.btn.btn-primary.read-more {
    background-color: #bf6435 !important;
    border: none !important;
    border-radius: 4px;
    margin-bottom: 50px;
}

.media-list a {
    font-weight: 600 !important;
    color: #9f3a07;
}

.media-list .breadcrumb {
    margin-top: 10px !important;
    border-radius: 8px;
    background-color: #fff;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.panel.panel-default.issue {
    overflow: hidden;
    border: none !important;
    border-radius: 4px;
    background-color: #fff;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.panel.panel-default.issue .panel-heading {
    background-color: #f8d29d;
    color: #9f3a07;
    font-weight: 600;
}

.list-group-item.date-published {
    background-color: #f8d29d;
    color: #9f3a07;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0px 0px;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.list-group-item.keywords {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 4px 4px;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.panel.panel-default.how-to-cite {
    border: none !important;
    border-radius: 4px;
    background-color: #fff;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.panel.panel-default.how-to-cite .panel-heading {
    background-color: #f8d29d;
    color: #9f3a07;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
}

.panel.panel-default.section {
    overflow: hidden;
    border: none !important;
    border-radius: 4px;
    background-color: #fff;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.panel.panel-default.section .panel-heading {
    background-color: #f8d29d;
    color: #9f3a07;
    font-weight: 600;
}

.panel.panel-default.copyright {
    overflow: hidden;
    border: none !important;
    border-radius: 4px;
    background-color: #fff;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Page Submission */
.page.page_submissions .alert.alert-info {
    background-color: #f8d29d;
    color: #9f3a07;
}

/* Navigation */
.cmp_breadcrumbs .breadcrumb li a {
    color: #9f3a07 !important;
}
@media (min-width: 547px) {
    .container {
        width: 90% !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 90% !important;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 75% !important;
    }

    .additional_content div p strong img {
        width: 40% !important;
    }
}

@media (min-width: 1640px) {
    .container {
        width: 80% !important;
    }
}

@media (min-width: 2040px) {
    .container {
        width: 70% !important;
    }
}

@media (min-width: 2540px) {
    .container {
        width: 50% !important;
    }
}

@media (min-width: 3040px) {
    .container {
        width: 20% !important;
    }
}